html {
    background-image: url(https://images.unsplash.com/photo-1523496922380-91d5afba98a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80);
    background-size: 1450px 700px;
    background-repeat: no-repeat;
    background-position-x: center;
    /* box-shadow: inset 00px 20px 100px rgba(0, 0, 0, 0.6); */
}
