
.featuredList {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.featuredList1 img{
    margin-top: 75px;
    box-sizing: border-box;
    height: 400px;
    width: 400px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
